/*
   Tuesday, August 29, 20173:54:58 PM
   User: 
   Server: DRYABADI-PC\SQLEXPRESS
   Database: abcstore
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.detail_CV.Vender', N'Tmp_name', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.detail_CV.Tmp_name', N'name', 'COLUMN' 
GO
ALTER TABLE dbo.detail_CV
	DROP COLUMN Customer
GO
ALTER TABLE dbo.detail_CV SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.detail_CV', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.detail_CV', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.detail_CV', 'Object', 'CONTROL') as Contr_Per 