<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Server" value="localhost"/>
    <add key="Database" value="dbmenumantap"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <!--<add name="dbx" connectionString="Data Source=DRYABADI-PC\SQLEXPRESS;Initial Catalog=dbmenumantap;Integrated Security=True"
    providerName="System.Data.Sqlclient" />-->
    <add name="dbx" connectionString="Data Source=atom-pc;Initial Catalog=temp;Integrated Security=True"
    providerName="System.Data.Sqlclient" />

  </connectionStrings>
</configuration>
