<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="Accdbx2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\NexusPOS-wpf\DB\POSDB.accdb; Jet OLEDB:Database Password=asikitesi"/>
    <add name="Accdbx1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Sohail\Desktop\NexusPOS-wpf\NexusPOS-wpf\POSDB.accdb; Jet OLEDB:Database Password=asikitesi"/>
    <add name="Accdbx" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Nexus DB\app db\POSDB.accdb; Jet OLEDB:Database Password=asikitesi"/>
  </connectionStrings>
</configuration>
